apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: gitlab-minio-ingress-cert
  namespace: gitlab
spec:
  dnsNames:
    - gitlab.minio.{{ _kube.cluster.domain }}
    - gitlab-console.minio.{{ _kube.cluster.domain }}
  issuerRef:
    kind: ClusterIssuer
    name: {{ fact_cluster_issuer_name }}
  secretName: gitlab-minio-ingress-tls