tenant:
  name: gitlab-minio
  pools:
    - servers: {{ gitlab_minio.pools.servers }}
      volumesPerServer: {{ gitlab_minio.pools.volumes_per_server }}
      size: {{ gitlab_minio.pools.size }}
{% if not _kube.allow_scheduling %}
      tolerations:
        - effect: NoSchedule
          key: node-role.kubernetes.io/control-plane
          operator: Exists
      nodeSelector:
        node-role.kubernetes.io/control-plane: ""
{% endif %}

  certificate:
    requestAutoCert: false

  buckets:
    - name: git-lfs
    - name: gitlab-artifacts
    - name: gitlab-backups
    - name: gitlab-ci-secure-files
    - name: gitlab-dependency-proxy
    - name: gitlab-mr-diffs
    - name: gitlab-packages
    - name: gitlab-pages
    - name: gitlab-terraform-state
    - name: gitlab-uploads
    - name: registry
    - name: runner-cache
    - name: tmp

ingress:
  api:
    enabled: true
    ingressClassName: {{ ingress_name }}
    host: gitlab.minio.{{ _kube.cluster.domain }}
    path: /
    pathType: Prefix
{% if has_issuer %}
    tls:
      - hosts:
          - gitlab.minio.{{ _kube.cluster.domain }}
        secretName: gitlab-minio-ingress-tls
{% endif %}
  console:
    enabled: true
    ingressClassName: {{ ingress_name }}
    host: gitlab-console.minio.{{ _kube.cluster.domain }}
    path: /
    pathType: Prefix
{% if has_issuer %}
    tls:
      - hosts:
          - gitlab-console.minio.{{ _kube.cluster.domain }}
        secretName: gitlab-minio-ingress-tls
{% endif %}
