frontend k8s-apiserver
   bind *:6443
   mode tcp
   option tcplog
   default_backend k8s-apiserver-backend

backend k8s-apiserver-backend
   mode tcp
   balance roundrobin
   option tcp-check
   default-server check check-ssl verify none
{% for host in groups['kubernetes_control_planes'] %}
   server {{ host }} {{ hostvars[host].ansible_host }}:6443
{% endfor %}

listen stats
   bind *:{{ haproxy.port }}
   mode http
   stats enable
   stats uri /
   stats refresh 5s
   stats realm Haproxy\ Statistics
   stats auth {{ haproxy.username }}:{{ haproxy.password }}