frontend {{ kube.cluster.name }}-apiserver
   bind *:6443
   mode tcp
   option tcplog
   default_backend {{ kube.cluster.name }}-apiserver-backend

backend {{ kube.cluster.name }}-apiserver-backend
   mode tcp
   balance roundrobin
   option tcp-check
   default-server check check-ssl verify none

listen stats
   bind *:{{ haproxy.port }}
   mode http
   stats enable
   stats uri /
   stats refresh 5s
   stats realm Haproxy\ Statistics
   stats auth {{ haproxy.username }}:{{ haproxy.password }}