global_defs {
  notification_email {
  }
  router_id LVS_DEVEL
  vrrp_skip_check_adv_addr
  vrrp_garp_interval 0
  vrrp_gna_interval 0
}

vrrp_script chk_haproxy {
  script "killall -0 haproxy"
  interval 2
  weight 2
}

vrrp_instance haproxy-vip {
  state BACKUP
  priority 100
  interface eth0                       # Network card
  virtual_router_id 60
  advert_int 1
  authentication {
    auth_type PASS
    auth_pass 1111
  }
  unicast_src_ip {{ ansible_host }}      
  unicast_peer {
{% for host in vars['play_hosts'] %}
   {% if host != inventory_hostname %}
   {{ hostvars[host].ansible_host }}
   {% endif %}
{% endfor %}
  }

  virtual_ipaddress {
    {{ keepalived.vip_address }}/{{ keepalived.vip_cidr }}            
  }

  track_script {
    chk_haproxy
  }
}