apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: argocd-ingress-cert
  namespace: argocd
spec:
  dnsNames:
    - {{ argocd.domain }}
  issuerRef:
    kind: ClusterIssuer
    name: {{ fact_cluster_issuer_name }}
  secretName: argocd-ingress-tls