apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: argocd-server-ingress
  namespace: argocd
  annotations:
    nginx.ingress.kubernetes.io/backend-protocol: HTTPS
    nginx.ingress.kubernetes.io/force-ssl-redirect: "true"
    nginx.ingress.kubernetes.io/ssl-passthrough: "true"
spec:
  ingressClassName: {{ ingress_name }}
  rules:
    - host: argocd.{{ _kube.cluster.domain }}
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: argocd-server
                port:
                  name: https
{% if has_issuer %}
  tls:
    - hosts:
        - argocd.{{ _kube.cluster.domain }}
      secretName: argocd-ingress-tls
{% endif %}