apiVersion: projectcontour.io/v1
kind: HTTPProxy
metadata:
  name: argocd-httpproxy
  namespace: argocd
spec:
  routes:
    - conditions:
        - prefix: /argocd
      services:
        - name: argocd-server
          port: 443
          protocol: tls
      pathRewritePolicy:
        replacePrefix:
          - replacement: /