apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: kyverno
  namespace: kyverno
  labels:
    app.kubernetes.io/instance: kyverno
    release: monitoring
spec:
  endpoints:
    - path: /metrics
      port: metrics-port
  selector:
    matchLabels:
      app.kubernetes.io/instance: kyverno
  namespaceSelector:
    matchNames:
      - kyverno