apiVersion: v1
kind: Secret
metadata:
  name: minio-secret
  namespace: longhorn-system
type: Opaque
data:
  AWS_ACCESS_KEY_ID: {{ longhorn.minio.access_key_id | b64encode }}
  AWS_SECRET_ACCESS_KEY: {{ longhorn.minio.secret_access_key | b64encode }}
  AWS_ENDPOINTS: {{ longhorn.minio.endpoint | b64encode }}