apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: sonarqube-ingress-cert
  namespace: sonarqube
spec:
  dnsNames:
    - sonarqube.{{ sonarqube.domain }}
  issuerRef:
    kind: ClusterIssuer
    name: default-cluster-issuer
  secretName: sonarqube-ingress-tls