apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: sonarqube-ingress-cert
  namespace: sonarqube
spec:
  dnsNames:
    - sonarqube.{{ kube.cluster.domain }}
  issuerRef:
    kind: ClusterIssuer
    name: {{ fact_cluster_issuer_name }}
  secretName: sonarqube-ingress-tls