nginx:
  enabled: false

ingress:
  enabled: true
  hosts:
    - name: sonarqube.{{ domain }}
      path: /
  annotations:
    nginx.ingress.kubernetes.io/proxy-body-size: "8m"

  ingressClassName: {{ ingress_name }}
{% if has_issuer %}
  tls:
    - secretName: sonarqube-ingress-tls
      hosts:
        - sonarqube.{{ domain }}
{% endif %}