nginx:
  enabled: false

ingress:
  enabled: true
  hosts:
    - name: sonarqube.{{ kube.cluster.domain }}
      path: /
  annotations:
    nginx.ingress.kubernetes.io/proxy-body-size: "8m"

  ingressClassName: {{ ingress_name }}
  tls:
    - secretName: sonarqube-ingress-tls
      hosts:
        - sonarqube.{{ kube.cluster.domain }}

{% if not kube.allow_scheduling %}
tolerations:
  - effect: NoSchedule
    key: node-role.kubernetes.io/control-plane
    operator: Exists

nodeSelector:
  node-role.kubernetes.io/control-plane: ""

postgresql:
  persistence:
    size: {{ sonarqube.storage_size }}
  primary:
    tolerations:
      - effect: NoSchedule
        key: node-role.kubernetes.io/control-plane
        operator: Exists
    nodeSelector:
      node-role.kubernetes.io/control-plane: ""

{% endif %}
