nginx:
  enabled: false

ingress:
  enabled: false

{% if not _kube.allow_scheduling %}
tolerations:
  - effect: NoSchedule
    key: node-role.kubernetes.io/control-plane
    operator: Exists

nodeSelector:
  node-role.kubernetes.io/control-plane: ""

postgresql:
  primary:
    tolerations:
      - effect: NoSchedule
        key: node-role.kubernetes.io/control-plane
        operator: Exists
    nodeSelector:
      node-role.kubernetes.io/control-plane: ""
{% endif %}
