nginx:
  enabled: false

ingress:
  enabled: true
  hosts:
    - name: sonarqube.{{ sonarqube.domain }}
      path: /
  annotations:
    nginx.ingress.kubernetes.io/proxy-body-size: "8m"

  ingressClassName: {{ ingress_name }}
{% if has_issuer %}
  tls:
    - secretName: sonarqube-ingress-tls
      hosts:
        - sonarqube.{{ sonarqube.domain }}
{% endif %}

{% if not _kube.allow_scheduling %}
tolerations:
  - effect: NoSchedule
    key: node-role.kubernetes.io/control-plane
    operator: Exists

nodeSelector:
  node-role.kubernetes.io/control-plane: ""

postgresql:
  primary:
    tolerations:
      - effect: NoSchedule
        key: node-role.kubernetes.io/control-plane
        operator: Exists
    nodeSelector:
      node-role.kubernetes.io/control-plane: ""

{% endif %}
     