apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: {{ in_tenant_name }}-ingress-cert
  namespace: {{ in_namespace }}
spec:
  dnsNames:
    - {{ in_domain_name }}.{{ _kube.cluster.domain }}
    - {{ in_console_domain_name }}.{{ _kube.cluster.domain }}
  issuerRef:
    kind: ClusterIssuer
    name: {{ fact_cluster_issuer_name }}
  secretName: {{ in_tenant_name }}-ingress-tls