apiVersion: projectcontour.io/v1
kind: HTTPProxy
metadata:
  name: {{ minio_tenant.tenant_name }}-console-httpproxy
  namespace: {{ minio_tenant.namespace }}
spec:
  virtualhost:
    fqdn: {{ minio_tenant.console_domain_name }}.{{ kube.cluster.domain }}
    tls:
      secretName: {{ minio_tenant.tenant_name }}-ingress-tls
  routes:
    - conditions:
        - prefix: /
      services:
        - name: {{ minio_tenant.tenant_name }}-console
          port: 9090