apiVersion: projectcontour.io/v1
kind: HTTPProxy
metadata:
  name: {{ in_tenant_name }}-api-httpproxy
  namespace: {{ in_namespace }}
spec:
  virtualhost:
    fqdn: {{ in_domain_name }}.{{ _kube.cluster.domain }}
    tls:
      secretName: {{ in_tenant_name }}-ingress-tls
  routes:
    - conditions:
        - prefix: /
      services:
        - name: minio
          port: 80