apiVersion: v1
data:
  connection: {{ STORAGE_SECRET_TEMPLATE | b64encode }}
kind: Secret
metadata:
  name: {{ minio_tenant.name }}-storage-secret
  namespace: {{ minio_tenant.namespace }}
type: Opaque