tenant:
  name: {{ in_tenant_name }}
  pools:
    - name: pool-0
      servers: {{ in_minio_tenant.pools.servers }}
      volumesPerServer: {{ in_minio_tenant.pools.volumes_per_server }}
      size: {{ in_minio_tenant.pools.size }}
{% if not kube.allow_scheduling %}
      tolerations:
        - effect: NoSchedule
          key: node-role.kubernetes.io/control-plane
          operator: Exists
      nodeSelector:
        node-role.kubernetes.io/control-plane: ""
{% endif %}

  certificate:
    requestAutoCert: false

  buckets:
    {{ in_minio_tenant.buckets }}

ingress:
  api:
    enabled: true
    ingressClassName: {{ ingress_name }}
    host: {{ in_domain_name }}.{{ kube.cluster.domain }}
    path: /
    pathType: Prefix
{% if has_issuer %}
    tls:
      - hosts:
          - {{ in_domain_name }}.{{ kube.cluster.domain }}
        secretName: {{ in_tenant_name }}-ingress-tls
{% endif %}
  console:
    enabled: true
    ingressClassName: {{ ingress_name }}
    host: {{ in_console_domain_name }}.{{ kube.cluster.domain }}
    path: /
    pathType: Prefix
{% if has_issuer %}
    tls:
      - hosts:
          - {{ in_console_domain_name }}.{{ kube.cluster.domain }}
        secretName: {{ in_tenant_name }}-ingress-tls
{% endif %}
