tenant:
  name: {{ minio_tenant.tenant_name }}
  pools:
    - name: pool-0
      servers: {{ minio_tenant.pools.servers }}
      volumesPerServer: {{ minio_tenant.pools.volumes_per_server }}
      size: {{ minio_tenant.pools.size }}
{% if not kube.allow_scheduling %}
      tolerations:
        - effect: NoSchedule
          key: node-role.kubernetes.io/control-plane
          operator: Exists
      nodeSelector:
        node-role.kubernetes.io/control-plane: ""
{% endif %}

  certificate:
    requestAutoCert: false

  buckets:
    {{ minio_tenant.buckets }}

ingress:
  api:
    enabled: false
    host: {{ minio_tenant.domain_name }}.{{ kube.cluster.domain }}
    path: /
    pathType: Prefix
  console:
    enabled: false
    host: {{ minio_tenant.console_domain_name }}.{{ kube.cluster.domain }}
    path: /
    pathType: Prefix