apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: gitlab-ingress-cert
  namespace: gitlab
spec:
  dnsNames:
    - gitlab.{{ kube.cluster.domain }}
    - kas.{{ kube.cluster.domain }}
    - minio.{{ kube.cluster.domain }}
    - registry.{{ kube.cluster.domain }}
  issuerRef:
    kind: ClusterIssuer
    name: {{ fact_cluster_issuer_name }}
  secretName: gitlab-ingress-tls