fullnameOverride: gitlab
global:
  hosts:
    domain: {{ _kube.cluster.domain }}
  ingress:
    enabled: true
{% if has_issuer %}
    tls:
      secretName: gitlab-ingress-tls
{% endif %}
    class: {{ ingress_name }}
    configureCertmanager: false

{% if gitlab.external_minio %}
  minio:
    enabled: false

  appConfig:

    lfs:
      bucket: git-lfs
      connection:
        secret: gitlab-storage-secret
        key: connection

    artifacts:
      bucket: gitlab-artifacts
      connection:
        secret: gitlab-storage-secret
        key: connection

    uploads:
      bucket: gitlab-uploads
      connection:
        secret: gitlab-storage-secret
        key: connection

    packages:
      bucket: gitlab-packages
      connection:
        secret: gitlab-storage-secret
        key: connection

    backups:
      enabled: true
      bucket: gitlab-backups
      backend: s3
      connection:
        secret: gitlab-storage-secret
        key: connection

{% endif %}

gitlab-runner:
  install: false

certmanager:
  install: false

nginx-ingress:
  enabled: false

prometheus:
  install: false

registry:
  enabled: false

{% if not _kube.allow_scheduling %}
upgradeCheck:
  enabled: false
  tolerations:
    - effect: NoSchedule
      key: node-role.kubernetes.io/control-plane
      operator: Exists

shared-secrets:
  tolerations:
    - effect: NoSchedule
      key: node-role.kubernetes.io/control-plane
      operator: Exists
  nodeSelector:
    node-role.kubernetes.io/control-plane: ""

postgresql:
  primary: # Change this accordingly in new versions
    tolerations:
      - effect: NoSchedule
        key: node-role.kubernetes.io/control-plane
        operator: Exists
    nodeSelector:
      node-role.kubernetes.io/control-plane: ""
  persistence:
    size: {{ gitlab.postgres.storage_size }}

minio:
  tolerations:
    - effect: NoSchedule
      key: node-role.kubernetes.io/control-plane
      operator: Exists
  nodeSelector:
    node-role.kubernetes.io/control-plane: ""

redis:
  master:
    tolerations:
      - effect: NoSchedule
        key: node-role.kubernetes.io/control-plane
        operator: Exists
    nodeSelector:
      node-role.kubernetes.io/control-plane: ""

  replica:
    tolerations:
      - effect: NoSchedule
        key: node-role.kubernetes.io/control-plane
        operator: Exists
    nodeSelector:
      node-role.kubernetes.io/control-plane: ""

gitlab:
  nodeSelector:
    node-role.kubernetes.io/control-plane: ""

  toolbox:
    tolerations:
      - effect: NoSchedule
        key: node-role.kubernetes.io/control-plane
        operator: Exists
    nodeSelector:
      node-role.kubernetes.io/control-plane: ""

{% if gitlab.external_minio %}
    backups:
      objectStorage:
        config:
          secret: gitlab-storage-secret
          key: connection
{% endif %}

  migrations:
    tolerations:
      - effect: NoSchedule
        key: node-role.kubernetes.io/control-plane
        operator: Exists
    nodeSelector:
      node-role.kubernetes.io/control-plane: ""

  webservice:
    tolerations:
      - effect: NoSchedule
        key: node-role.kubernetes.io/control-plane
        operator: Exists
    nodeSelector:
      node-role.kubernetes.io/control-plane: ""

  sidekiq:
    tolerations:
      - effect: NoSchedule
        key: node-role.kubernetes.io/control-plane
        operator: Exists
    nodeSelector:
      node-role.kubernetes.io/control-plane: ""

  gitaly:
    tolerations:
      - effect: NoSchedule
        key: node-role.kubernetes.io/control-plane
        operator: Exists
    nodeSelector:
      node-role.kubernetes.io/control-plane: ""

  gitlab-exporter:
    tolerations:
      - effect: NoSchedule
        key: node-role.kubernetes.io/control-plane
        operator: Exists
    nodeSelector:
      node-role.kubernetes.io/control-plane: ""

  gitlab-shell:
    tolerations:
      - effect: NoSchedule
        key: node-role.kubernetes.io/control-plane
        operator: Exists
    nodeSelector:
      node-role.kubernetes.io/control-plane: ""

  kas:
    tolerations:
      - effect: NoSchedule
        key: node-role.kubernetes.io/control-plane
        operator: Exists
    nodeSelector:
      node-role.kubernetes.io/control-plane: ""
{% endif %}
