fullnameOverride: gitlab
global:
  hosts:
    domain: {{ kube.cluster.domain }}
  ingress:
    enabled: false
    configureCertmanager: false

{% if gitlab.external_minio %}
  minio:
    enabled: false

  appConfig:

    lfs:
      bucket: git-lfs
      connection:
        secret: gitlab-storage-secret
        key: connection

    artifacts:
      bucket: gitlab-artifacts
      connection:
        secret: gitlab-storage-secret
        key: connection

    uploads:
      bucket: gitlab-uploads
      connection:
        secret: gitlab-storage-secret
        key: connection

    packages:
      bucket: gitlab-packages
      connection:
        secret: gitlab-storage-secret
        key: connection

    backups:
      enabled: true
      bucket: gitlab-backups
      backend: s3
      connection:
        secret: gitlab-storage-secret
        key: connection

{% endif %}

gitlab-runner:
  install: false

certmanager:
  install: false

nginx-ingress:
  enabled: false

prometheus:
  install: false

registry:
  enabled: false

upgradeCheck:
  enabled: false
{% if not kube.allow_scheduling %}
  tolerations:
    - effect: NoSchedule
      key: node-role.kubernetes.io/control-plane
      operator: Exists
{% endif %}

{% if not kube.allow_scheduling %}
shared-secrets:
  tolerations:
    - effect: NoSchedule
      key: node-role.kubernetes.io/control-plane
      operator: Exists
  nodeSelector:
    node-role.kubernetes.io/control-plane: ""

minio:
  tolerations:
    - effect: NoSchedule
      key: node-role.kubernetes.io/control-plane
      operator: Exists
  nodeSelector:
    node-role.kubernetes.io/control-plane: ""
{% endif %}

postgresql:
  primary: # Change this accordingly in new versions
    persistence:
      size: {{ gitlab.postgres.storage_size }}
{% if not kube.allow_scheduling %}
    tolerations:
      - effect: NoSchedule
        key: node-role.kubernetes.io/control-plane
        operator: Exists
    nodeSelector:
      node-role.kubernetes.io/control-plane: ""
{% endif %}

redis:
  master:
    persistence:
      size: {{ gitlab.redis.master.storage_size }}
{% if not kube.allow_scheduling %}
    tolerations:
      - effect: NoSchedule
        key: node-role.kubernetes.io/control-plane
        operator: Exists
    nodeSelector:
      node-role.kubernetes.io/control-plane: ""
{% endif %}

  replica:
    persistence:
      size: {{ gitlab.redis.replica.storage_size }}
{% if not kube.allow_scheduling %}
    tolerations:
      - effect: NoSchedule
        key: node-role.kubernetes.io/control-plane
        operator: Exists
    nodeSelector:
      node-role.kubernetes.io/control-plane: ""
{% endif %}

gitlab:
{% if not kube.allow_scheduling %}
  nodeSelector:
    node-role.kubernetes.io/control-plane: ""
{% endif %}

{% if not kube.allow_scheduling or gitlab.external_minio %}
  toolbox:
  {%- if not kube.allow_scheduling +%}
    tolerations:
      - effect: NoSchedule
        key: node-role.kubernetes.io/control-plane
        operator: Exists
    nodeSelector:
      node-role.kubernetes.io/control-plane: ""
  {%- endif +%}

  {%- if gitlab.external_minio +%}
    backups:
      objectStorage:
        config:
          secret: gitlab-storage-secret
          key: connection
  {%- endif +%}
{% endif %}

{% if not kube.allow_scheduling %}
  migrations:
    tolerations:
      - effect: NoSchedule
        key: node-role.kubernetes.io/control-plane
        operator: Exists
    nodeSelector:
      node-role.kubernetes.io/control-plane: ""

  webservice:
    tolerations:
      - effect: NoSchedule
        key: node-role.kubernetes.io/control-plane
        operator: Exists
    nodeSelector:
      node-role.kubernetes.io/control-plane: ""

  sidekiq:
    tolerations:
      - effect: NoSchedule
        key: node-role.kubernetes.io/control-plane
        operator: Exists
    nodeSelector:
      node-role.kubernetes.io/control-plane: ""

  gitlab-exporter:
    tolerations:
      - effect: NoSchedule
        key: node-role.kubernetes.io/control-plane
        operator: Exists
    nodeSelector:
      node-role.kubernetes.io/control-plane: ""

  gitlab-shell:
    tolerations:
      - effect: NoSchedule
        key: node-role.kubernetes.io/control-plane
        operator: Exists
    nodeSelector:
      node-role.kubernetes.io/control-plane: ""

  kas:
    tolerations:
      - effect: NoSchedule
        key: node-role.kubernetes.io/control-plane
        operator: Exists
    nodeSelector:
      node-role.kubernetes.io/control-plane: ""
{% endif %}

  gitaly:
    persistence:
      size: {{ gitlab.gitaly.storage_size }}
{% if not kube.allow_scheduling %}
    tolerations:
      - effect: NoSchedule
        key: node-role.kubernetes.io/control-plane
        operator: Exists
    nodeSelector:
      node-role.kubernetes.io/control-plane: ""
{% endif %}