  CSI_PROVISIONER_TOLERATIONS: |
    - effect: NoSchedule
      key: node-role.kubernetes.io/control-plane
      operator: Exists
  CSI_PROVISIONER_NODE_AFFINITY: "node-role.kubernetes.io/control-plane="

  CSI_PLUGIN_TOLERATIONS: |
    - effect: NoSchedule
      key: node-role.kubernetes.io/control-plane
      operator: Exists
  CSI_PLUGIN_NODE_AFFINITY: "node-role.kubernetes.io/control-plane="

  CSI_RBD_PROVISIONER_TOLERATIONS: |
    - effect: NoSchedule
      key: node-role.kubernetes.io/control-plane
      operator: Exists
  CSI_RBD_PROVISIONER_NODE_AFFINITY: "node-role.kubernetes.io/control-plane="

  CSI_RBD_PLUGIN_TOLERATIONS: |
    - effect: NoSchedule
      key: node-role.kubernetes.io/control-plane
      operator: Exists
  CSI_RBD_PLUGIN_NODE_AFFINITY: "node-role.kubernetes.io/control-plane="

  CSI_CEPHFS_PROVISIONER_TOLERATIONS: |
    - effect: NoSchedule
      key: node-role.kubernetes.io/control-plane
      operator: Exists
  CSI_CEPHFS_PROVISIONER_NODE_AFFINITY: "node-role.kubernetes.io/control-plane="

  CSI_CEPHFS_PLUGIN_TOLERATIONS: |
    - effect: NoSchedule
      key: node-role.kubernetes.io/control-plane
      operator: Exists
  CSI_CEPHFS_PLUGIN_NODE_AFFINITY: "node-role.kubernetes.io/control-plane="

  CSI_NFS_PROVISIONER_TOLERATIONS: |
    - effect: NoSchedule
      key: node-role.kubernetes.io/control-plane
      operator: Exists
  CSI_NFS_PROVISIONER_NODE_AFFINITY: "node-role.kubernetes.io/control-plane="

  CSI_NFS_PLUGIN_TOLERATIONS: |
    - effect: NoSchedule
      key: node-role.kubernetes.io/control-plane
      operator: Exists
  CSI_NFS_PLUGIN_NODE_AFFINITY: "node-role.kubernetes.io/control-plane="