apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: harbor-ingress-cert
  namespace: harbor-system
spec:
  dnsNames:
    - core.harbor.{{ _kube.cluster.domain }}
  issuerRef:
    kind: ClusterIssuer
    name: {{ fact_cluster_issuer_name }}
  secretName: harbor-ingress-tls