apiVersion: projectcontour.io/v1
kind: HTTPProxy
metadata:
  name: harbor-notary-httpproxy
  namespace: harbor-system
spec:
  virtualhost:
    fqdn: notary.harbor.{{ _kube.cluster.domain }}
    tls:
      secretName: harbor-ingress-tls
  routes:
    - conditions:
        - prefix: /
      services:
        - name: harbor-notary-server
          port: 4443