yamlApplicationConfig:
  kafka:
    clusters:
      - name: {{ kafka.name }}
        bootstrapServers: {{ kafka.name }}-kafka-brokers.{{ kafka.namespace }}.svc.cluster.local:9092

  spring:
    security:
      user:
        name: {{ kafka.ui.username }}
        password: {{ kafka.ui.password }}
  auth:
    type: "LOGIN_FORM"

{% if not kube.allow_scheduling %}
tolerations:
  - effect: NoSchedule
    key: node-role.kubernetes.io/control-plane
    operator: Exists
nodeSelector:
  node-role.kubernetes.io/control-plane:
{% endif %}

ingress:
  enabled: true
  host: kafka.{{ kube.cluster.domain }}
  tls:
    enabled: true
    secretName: kafka-ingress-tls