apiVersion: rabbitmq.com/v1beta1
kind: RabbitmqCluster
metadata:
  name: "{{ rmq_cluster_name }}"
  namespace: "{{ rmq_namespace }}"
spec:
  replicas: 3
  service:
    type: "{{ service_type }}"
  tls:
    secretName: rmq-tls-secret
    caSecretName: rmq-tls-secret
    disableNonTLSListeners: true
  rabbitmq:
    additionalConfig: |
      ssl_options.verify = verify_peer
      ssl_options.fail_if_no_peer_cert = true
      management.path_prefix = /rabbitmq