fullnameOverride: loki

loki:
{% if loki.external_minio %}
  storage:
    bucketNames:
      chunks: chunks
      ruler: ruler
      admin: admin
    type: s3
    s3:
      endpoint: {{ loki.minio_tenant.tenant_endpoint }}
      region: us-east-1
      accessKeyId: {{ minio_credentials.accesskey }}
      secretAccessKey: {{ minio_credentials.secretkey }}
      s3ForcePathStyle: true
      insecure: true
{% endif %}

  commonConfig:
    replication_factor: {{ loki.replicas }}

  schemaConfig:
    configs:
      - from: "{{ now(utc=true,fmt='%Y-%m-%d') }}"
        object_store: "s3"
        store: "tsdb"
        schema: "v13"
        index:
          prefix: "index_"
          period: "24h"

chunksCache:
  resources: {{ loki.chunks_cache.resources }}
  tolerations:
    - effect: NoSchedule
      key: node-role.kubernetes.io/control-plane
      operator: Exists
  nodeSelector:
    node-role.kubernetes.io/control-plane: ""

resultsCache:
  resources: {{ loki.results_cache.resources }}
  tolerations:
    - effect: NoSchedule
      key: node-role.kubernetes.io/control-plane
      operator: Exists
  nodeSelector:
    node-role.kubernetes.io/control-plane: ""

minio:
  enabled: {{ not loki.external_minio }}

{% if not _kube.allow_scheduling %}
write:
  replicas: {{ loki.replicas }}
  tolerations:
    - effect: NoSchedule
      key: node-role.kubernetes.io/control-plane
      operator: Exists
  nodeSelector:
    node-role.kubernetes.io/control-plane: ""

read:
  replicas: {{ loki.replicas }}
  tolerations:
    - effect: NoSchedule
      key: node-role.kubernetes.io/control-plane
      operator: Exists
  nodeSelector:
    node-role.kubernetes.io/control-plane: ""

backend:
  replicas: {{ loki.replicas }}
  tolerations:
    - effect: NoSchedule
      key: node-role.kubernetes.io/control-plane
      operator: Exists
  nodeSelector:
    node-role.kubernetes.io/control-plane: ""

monitoring:
  selfMonitoring:
    grafanaAgent:
      tolerations:
        - effect: NoSchedule
          key: node-role.kubernetes.io/control-plane
          operator: Exists

  lokiCanary:
    tolerations:
      - effect: NoSchedule
        key: node-role.kubernetes.io/control-plane
        operator: Exists
    nodeSelector:
      node-role.kubernetes.io/control-plane: ""

gateway:
  replicas: {{ loki.replicas }}
  tolerations:
    - effect: NoSchedule
      key: node-role.kubernetes.io/control-plane
      operator: Exists
  nodeSelector:
    node-role.kubernetes.io/control-plane: ""
{% endif %}