AZURE_SUBSCRIPTION_ID=c09d5052-8b70-45c0-8150-f74cba84a9f1
AZURE_RESOURCE_GROUP=CS_RnD_Kubernetes
AZURE_STORAGE_ACCOUNT_ACCESS_KEY=9xwOwpZO1xrnZh5rzCBMWWKMc02h/bZA1lmlDGF508n/r8DqKle8eHJ8OQrSHY+35S+HSnOla1ta+AStBZ630A==
AZURE_CLOUD_NAME=AzurePublicCloud