apiVersion: projectcontour.io/v1
kind: HTTPProxy
metadata:
  name: {{ name }}-httpproxy
  namespace: {{ namespace }}
spec:
  routes:
    - conditions:
        - prefix: /ceph
      services:
        - name: rook-ceph-mgr-dashboard
          port: 8443
          protocol: tls