apiVersion: projectcontour.io/v1
kind: HTTPProxy
metadata:
  name: {{ name }}
  namespace: {{ namespace }}
spec:
  routes:
    - conditions:
        - prefix: /{{ route }}
      services:
        - name: {{ service_name }}
          port: {{ port }}
          protocol: tls
      pathRewritePolicy:
        replacePrefix:
          - replacement: /