apiVersion: projectcontour.io/v1
kind: HTTPProxy
metadata:
  name: kubernetes-dashboard-httpproxy
  namespace: kubernetes-dashboard
spec:
  routes:
    - conditions:
        - prefix: /dashboard
      services:
        - name: kubernetes-dashboard
          port: 443
          protocol: tls
      pathRewritePolicy:
        replacePrefix:
          - replacement: /