apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: aws-ingress-cert
  namespace: awx
spec:
  dnsNames:
    - {{ _kube.hostname }}
  issuerRef:
    kind: ClusterIssuer
    name: {{ fact_cluster_issuer_name }}
  secretName: awx-ingress-tls