apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - github.com/ansible/awx-operator/config/default?ref={{ release }}
  - patch-job-tolerations.yaml

{% if not _kube.allow_scheduling %}
patches:
  - path: patch-tolerations.yaml
    target:
      kind: Deployment
      name: awx-operator-controller-manager
  - path: patch-job-tolerations.yaml
    target:
      kind: Job
      name: awx-migration-24.1.0
{% endif %}