apiVersion: batch/v1
kind: Job
metadata:
  name: awx-migration-{{ awx_release }}
  namespace: awx
  labels:
    app.kubernetes.io/component: awx
    app.kubernetes.io/managed-by: awx-operator
    app.kubernetes.io/operator-version: {{ operator_release }}
    app.kubernetes.io/part-of: awx
    app.kubernetes.io/version: {{ awx_release }}
spec:
  template:
    spec:
      containers:
        - command:
          - awx-manage
          - migrate
          - --noinput
          image: quay.io/ansible/awx:{{ awx_release }}
          imagePullPolicy: IfNotPresent
          name: migration-job
          resources: {}
          terminationMessagePath: /dev/termination-log
          terminationMessagePolicy: File
          volumeMounts:
            - mountPath: /etc/tower/conf.d/credentials.py
              name: awx-application-credentials
              readOnly: true
              subPath: credentials.py
            - mountPath: /etc/tower/SECRET_KEY
              name: awx-secret-key
              readOnly: true
              subPath: SECRET_KEY
            - mountPath: /etc/tower/settings.py
              name: awx-settings
              readOnly: true
              subPath: settings.py
      dnsPolicy: ClusterFirst
      restartPolicy: Never
      terminationGracePeriodSeconds: 30
      schedulerName: default-scheduler
      securityContext: {}
      serviceAccount: awx
      serviceAccountName: awx
      tolerations:
        - effect: NoSchedule
          key: node-role.kubernetes.io/control-plane
          operator: Exists
      nodeSelector:
        node-role.kubernetes.io/control-plane: ""
      volumes:
      - name: awx-application-credentials
        secret:
          secretName: awx-app-credentials
          items:
          - key: credentials.py
            path: credentials.py
          - key: ldap.py
            path: ldap.py
          - key: execution_environments.py
            path: execution_environments.py
      - name: awx-secret-key
        secret:
          secretName: awx-secret-key
          items:
          - key: secret_key
            path: SECRET_KEY
      - name: awx-settings
        configMap:
          name: awx-awx-configmap
          items:
          - key: settings
            path: settings.py