apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: rmq-cluster-cert
  namespace: "{{ rmq_namespace }}"
spec:
  dnsNames:
    - "*.{{ rmq_cluster_name }}-nodes.{{ rmq_namespace }}.svc.cluster.local"
  issuerRef:
    kind: ClusterIssuer
    name: default-cluster-issuer
  secretName: rmq-tls-secret