apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: rmq-cluster-cert
  namespace: "{{ rabbitmq.namespace }}"
spec:
  duration: {{ rabbitmq.cert.validity }}
  dnsNames:
    - "{{ rabbitmq.name }}.{{ rabbitmq.namespace }}.svc"
    - "{{ rabbitmq.name }}.{{ rabbitmq.namespace }}.svc.cluster.local"
    - "*.{{ rabbitmq.name }}-nodes.{{ rabbitmq.namespace }}.svc"
    - "*.{{ rabbitmq.name }}-nodes.{{ rabbitmq.namespace }}.svc.cluster.local"
  issuerRef:
    kind: ClusterIssuer
    name: default-cluster-issuer
  secretName: rmq-tls-secret