apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: rmq-cluster-cert
  namespace: "{{ rabbitmq_cluster.namespace }}"
spec:
  dnsNames:
    - "{{ rabbitmq_cluster.name }}.{{ rabbitmq_cluster.namespace }}.svc"
    - "{{ rabbitmq_cluster.name }}.{{ rabbitmq_cluster.namespace }}.svc.cluster.local"
    - "*.{{ rabbitmq_cluster.name }}-nodes.{{ rabbitmq_cluster.namespace }}.svc"
    - "*.{{ rabbitmq_cluster.name }}-nodes.{{ rabbitmq_cluster.namespace }}.svc.cluster.local"
  issuerRef:
    kind: ClusterIssuer
    name: default-cluster-issuer
  secretName: rmq-tls-secret