apiVersion: projectcontour.io/v1
kind: HTTPProxy
metadata:
  name: {{ name }}-{{ namespace }}-httpproxy
  namespace: {{ namespace }}
spec:
  routes:
    - conditions:
        - prefix: /{{ namespace }}/rabbitmq
      services:
        - name: rabbitmq
          port: {{ rabbitmq_cluster.enable_tls | ternary(15671, 15672) }}
          protocol: tls
