apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ name }}-ingress
  namespace: {{ namespace }}
  labels:
    app.kubernetes.io/name: {{ name }}-ingress
  annotations:
    nginx.ingress.kubernetes.io/backend-protocol: {{ rabbitmq.enable_tls | ternary('HTTPS', 'HTTP') }}
spec:
  ingressClassName: {{ ingress_name }}
  rules:
    - host: {{ ingress_host }}
      http:
        paths:
          - path: /{{ namespace }}/rabbitmq
            pathType: Prefix
            backend:
              service:
                name: rabbitmq
                port:
                  number: {{ rabbitmq.enable_tls | ternary(15671, 15672) }}