apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ name }}-{{ namespace }}-ingress
  namespace: {{ namespace }}
  labels:
    app.kubernetes.io/name: {{ name }}-{{ namespace }}-ingress
  annotations:
    nginx.ingress.kubernetes.io/backend-protocol: {{ rabbitmq.enable_tls | ternary('HTTPS', 'HTTP') }}    
spec:
  ingressClassName: {{ ingress_name }}
  rules:
    - host: {{ _kube.hostname }}
      http:
        paths:
          - path: /{{ namespace }}/rabbitmq
            pathType: Prefix
            backend:
              service:
                name: rabbitmq
                port:
                  number: {{ rabbitmq.enable_tls | ternary(15671, 15672) }}
{% if has_issuer %}
  tls:
    - hosts:
        - {{ _kube.hostname }}
      secretName: {{ name }}-ingress-tls
{% endif %}