apiVersion: rabbitmq.com/v1beta1
kind: RabbitmqCluster
metadata:
  name: "{{ rabbitmq_cluster.name }}"
  namespace: "{{ rabbitmq_cluster.namespace }}"
  annotations:
    rabbitmq.com/topology-allowed-namespaces: "*"  
spec:
  replicas: 3
  service:
    type: "{{ rabbitmq_cluster.service_type }}"

  persistence:
    storage: "{{ rabbitmq_cluster.storage_size }}"

{%if rabbitmq_cluster.enable_tls %}
  tls:
    secretName: rmq-tls-secret
    caSecretName: rmq-tls-secret
    disableNonTLSListeners: true
{% endif %}

  rabbitmq:
    additionalConfig: |
{%if rabbitmq_cluster.enable_tls %}
      ssl_options.verify = verify_peer
      ssl_options.fail_if_no_peer_cert = true
{% endif %}
      management.path_prefix = /{{ rabbitmq_cluster.namespace }}/rabbitmq

{% if not _kube.allow_scheduling %}
  tolerations:
    - effect: NoSchedule
      key: node-role.kubernetes.io/control-plane
      operator: Exists
  affinity:
    nodeAffinity:
      requiredDuringSchedulingIgnoredDuringExecution:
        nodeSelectorTerms:
        - matchExpressions:
          - key: node-role.kubernetes.io/control-plane
            operator: Exists
{% endif %}