spec:
  template:
    spec:
      containers:
        - name: vault-agent
          env:
            - name: VAULT_ADDR
              value: {{ VAULT[vault.mode|upper].VAULT_ADDR }}
            - name: VAULT_CACERT
              value: /vault/tls/ca.crt
{% if vault.enable_peer_verification %}
            - name: VAULT_CLIENT_CERT
              value: /vault/client-tls/tls.crt
            - name: VAULT_CLIENT_KEY
              value: /vault/client-tls/tls.key
{% endif %}