apiVersion: projectcontour.io/v1
kind: HTTPProxy
metadata:
  name: kibana-httpproxy
  namespace: logging
spec:
  routes:
    - conditions:
        - prefix: /kibana
      services:
        - name: kibana-kb-http
          port: 5601
      pathRewritePolicy:
        replacePrefix:
          - replacement: /