apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: mssql-cert
  namespace: {{ mssql.target_namespace }}
spec:
  dnsNames:
    - {{ mssql.domain }}
  issuerRef:
    kind: ClusterIssuer
    name: default-cluster-issuer
  secretName: mssql-tls