apiVersion: v1
kind: Service
metadata:
  name: mssql-svc
  namespace: {{ mssql.target_namespace }}
spec:
  type: {{ mssql.service_type }}
  selector:
    app: mssql
  ports:
    - protocol: TCP
      port: 1433
      targetPort: 1433
      name: tcpsql