AZURE_SUBSCRIPTION_ID={{ velero.providers.azure.subscription_id }}
AZURE_RESOURCE_GROUP={{ velero.providers.azure.resource_group }}
AZURE_STORAGE_ACCOUNT_ACCESS_KEY={{ velero.providers.azure.access_key }}
AZURE_CLOUD_NAME=AzurePublicCloud