AZURE_SUBSCRIPTION_ID=<your-azure-subscription-id>
AZURE_RESOURCE_GROUP=<your-azure-resource-group>
AZURE_STORAGE_ACCOUNT_ACCESS_KEY=<your-storage-account-access-key>
AZURE_CLOUD_NAME=AzurePublicCloud