apiVersion: velero.io/v1
kind: BackupStorageLocation
metadata:
  name: minio
  namespace: velero
spec:
  accessMode: ReadWrite
  credential:
    key: minio
    name: storage-credentials
  config:
    region: minio
    s3ForcePathStyle: "true"
    s3Url: {{ velero.providers.minio.url }}
  default: {{ is_default | default(false) }}
  objectStorage:
    bucket: velero
    prefix: {{ kube.cluster.name }}
  provider: aws