apiVersion: velero.io/v1
kind: BackupStorageLocation
metadata:
  name: azure
  namespace: velero
spec:
  accessMode: ReadWrite
  credential:
    key: azure
    name: storage-credentials
  config:
    resourceGroup: {{ velero.providers.azure.resource_group }}
    storageAccount: {{ velero.providers.azure.storage_account }}
    storageAccountKeyEnvVar: AZURE_STORAGE_ACCOUNT_ACCESS_KEY
    subscriptionId: {{ velero.providers.azure.subscription_id }}
  default: {{ is_default | default(false) }}
  objectStorage:
    bucket: velero
    prefix: {{ kube.cluster.name }}
  provider: azure