include "/etc/rndc.key";

zone "{{ kube.cluster.domain }}" IN {
        type master;
        file "/var/named/forward.{{ kube.cluster.domain }}";
        allow-query { any; };
        allow-update {
            {{ ansible_host }};
            key rndc-key;
        };
};
zone "{{ kube.cluster.address.split('.')[2::-1]|join('.') }}.in-addr.arpa" IN {
        type master;
        file "/var/named/reverse.{{ kube.cluster.domain }}";
        allow-update {
            {{ ansible_host }};
            key rndc-key;
        };
};