apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: httpproxy-cert
  namespace: projectcontour
spec:
  dnsNames:
    - {{ _kube.hostname }}
  issuerRef:
    kind: ClusterIssuer
    name: {{ fact_cluster_issuer_name }}
  secretName: root-httpproxy-tls