fullnameOverride: infisical-secrets

{% if not kube.allow_scheduling %}
controllerManager:
  tolerations:
    - effect: NoSchedule
      key: node-role.kubernetes.io/control-plane
      operator: Exists
  nodeSelector:
    node-role.kubernetes.io/control-plane:
{% endif %}