apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: loki-minio-ingress-cert
  namespace: logging
spec:
  dnsNames:
    - loki.minio.{{ _kube.cluster.domain }}
    - console.loki.minio.{{ _kube.cluster.domain }}
  issuerRef:
    kind: ClusterIssuer
    name: {{ fact_cluster_issuer_name }}
  secretName: loki-minio-ingress-tls