apiVersion: projectcontour.io/v1
kind: HTTPProxy
metadata:
  name: loki-minio-console-httpproxy
  namespace: logging
spec:
  virtualhost:
    fqdn: console.loki.minio.{{ _kube.cluster.domain }}
    tls:
      secretName: loki-minio-ingress-tls
  routes:
    - conditions:
        - prefix: /
      services:
        - name: loki-minio-console
          port: 9090
