apiVersion: projectcontour.io/v1
kind: HTTPProxy
metadata:
  name: loki-minio-api-httpproxy
  namespace: logging
spec:
  virtualhost:
    fqdn: loki.minio.{{ _kube.cluster.domain }}
    tls:
      secretName: loki-minio-ingress-tls
  routes:
    - conditions:
        - prefix: /
      services:
        - name: minio
          port: 80
