tenant:
  name: loki-minio
  pools:
    - servers: {{ loki_minio.pools.servers }}
      volumesPerServer: {{ loki_minio.pools.volumes_per_server }}
      size: {{ loki_minio.pools.size }}
{% if not _kube.allow_scheduling %}
      tolerations:
        - effect: NoSchedule
          key: node-role.kubernetes.io/control-plane
          operator: Exists
      nodeSelector:
        node-role.kubernetes.io/control-plane: ""
{% endif %}

  certificate:
    requestAutoCert: false

  buckets:
    - name: chunks
    - name: ruler
    - name: admin

ingress:
  api:
    enabled: false
    host: loki.minio.{{ _kube.cluster.domain }}
    path: /
    pathType: Prefix
  console:
    enabled: false
    host: console.loki.minio.{{ _kube.cluster.domain }}
    path: /
    pathType: Prefix