cluster_addr  = "http://127.0.0.1:8201"
api_addr      = "http://[::]:8200"
disable_mlock = true
default_lease_ttl = "{{ vault.default_lease_ttl }}"
max_lease_ttl = "{{ vault.max_lease_ttl }}"
ui = true

listener "tcp" {
  tls_disable = 1
  address     = "[::]:8200"
}

storage "raft" {
  path    = "/opt/vault/data"
}