fullnameOverride: ""

mode: {{ open_telemetry.mode }}

{% if not kube.allow_scheduling %}
tolerations:
  - effect: NoSchedule
    key: node-role.kubernetes.io/control-plane
    operator: Exists
nodeSelector:
  node-role.kubernetes.io/control-plane:
{% endif %}

service:
  enabled: true

ingress:
  enabled: {{ open_telemetry.ingress_enabled }}
{% if open_telemetry.ingress_enabled %}
  annotations:
    nginx.ingress.kubernetes.io/backend-protocol: GRPC
  ingressClassName: {{ ingress_name }}
  hosts:
    - host: otel.{{ kube.cluster.domain }}
      paths:
        - path: /
          pathType: ImplementationSpecific
          port: 4317
  tls:
    - secretName: opentelemetry-ingress-tls
      hosts:
        - otel.{{ kube.cluster.domain }}
{% endif %}

image:
  repository: otel/opentelemetry-collector-contrib

command:
  name: otelcol-contrib

config:
  exporters:
    otlphttp/logs:
      endpoint: "http://loki-gateway.logging.svc.cluster.local/otlp"
      tls:
        insecure: true
      headers:
        "X-Scope-OrgID": "1"
    otlphttp:
      endpoint: {{ open_telemetry.otlphttp_endpoint }}
    prometheus:
      endpoint: 0.0.0.0:8889
      resource_to_telemetry_conversion:
        enabled: true
    debug: {}

  connectors:
    spanmetrics:

  service:
    pipelines:
      logs:
        exporters:
          - otlphttp/logs
          - debug
        processors:
          - memory_limiter
          - batch
        receivers:
          - otlp
      traces:
        exporters:
          - otlphttp
          - spanmetrics
        processors:
          - memory_limiter
          - batch
        receivers:
          - otlp
          - jaeger
          - zipkin
      metrics:
        exporters:
          - prometheus
        processors:
          - memory_limiter
          - batch
        receivers:
          - otlp
          - spanmetrics

ports:
  prom-exporter:
    enabled: true
    containerPort: 8889
    servicePort: 8889
    protocol: TCP