apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: elasticsearch-cert
  namespace: logging
spec:
  secretName: {{ elasticsearch_certs_secret }}
  issuerRef:
    name: "{{ issuer_name | default('default-cluster-issuer', true) }}"
    kind: ClusterIssuer
  dnsNames:
    - elasticsearch-master