apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: {{ SERVICE_NAMES[redis.ha_mode] }}
  namespace: {{ redis.namespace }}
  labels:
    app.kubernetes.io/name: redis-cluster
    release: monitoring
spec:
  endpoints:
    - path: /metrics
      port: metrics
  selector:
    matchLabels:
      app.kubernetes.io/name: redis-cluster
  namespaceSelector:
    matchNames:
      - {{ redis.namespace }}