fullnameOverride: "{{ redis.sentinel.name }}"

{% if redis.enable_tls %}
tls:
  enabled: true
  existingSecret: redis-tls-secret
  certFilename: tls.crt
  certKeyFilename: tls.key
  certCAFilename: ca.crt
{% endif %}

master:
  persistence:
    size: {{ redis.storage_size }}

{% if not _kube.allow_scheduling %}
  tolerations:
    - effect: NoSchedule
      key: node-role.kubernetes.io/control-plane
      operator: Exists
  nodeSelector:
    node-role.kubernetes.io/control-plane: ""
{% endif %}

replica:
  replicaCount: {{ redis.sentinel.replica }}
  persistence:
    size: {{ redis.storage_size }}

{% if not _kube.allow_scheduling %}  
  tolerations:
    - effect: NoSchedule
      key: node-role.kubernetes.io/control-plane
      operator: Exists
  nodeSelector:
    node-role.kubernetes.io/control-plane: ""
{% endif %}

sentinel:
  enabled: true
  masterSet: {{ redis.sentinel.masterset }}
  service:
    type: {{ redis.service_type }}

metrics:
  enabled: {{ redis.enable_metrics }}