fullnameOverride: vault-secrets

controller:
  manager:
    globalTransformationOptions:
      excludeRaw: true
    logging:
      level: {{ vault.secrets_operator.log_level }}
{% if vault.enable_peer_verification %}
    extraEnv:
      - name: VAULT_CLIENT_CERT
        value: /vault/client-tls/tls.crt
      - name: VAULT_CLIENT_KEY
        value: /vault/client-tls/tls.key
{% endif %}
{% if not kube.allow_scheduling %}
  tolerations:
    - effect: NoSchedule
      key: node-role.kubernetes.io/control-plane
      operator: Exists
  nodeSelector:
    node-role.kubernetes.io/control-plane: ""
{% endif %}

defaultVaultConnection:
  enabled: true
  address: https://{{ service_name }}.vault.svc.cluster.local:8200
  caCertSecret: vault-cluster-tls
  tlsServerName: {{ service_name }}.vault.svc.cluster.local