fullnameOverride: vault-secrets

{% if not kube.allow_scheduling %}
controller:
  tolerations:
    - effect: NoSchedule
      key: node-role.kubernetes.io/control-plane
      operator: Exists
  nodeSelector:
    node-role.kubernetes.io/control-plane: ""
{% endif %}

defaultVaultConnection:
  enabled: true
  address: https://vault-active.vault.svc.cluster.local:8200
  caCertSecret: vault-cluster-tls
  tlsServerName: vault-active.vault.svc.cluster.local