fullnameOverride: vault-secrets

controller:
  manager:
    logging:
      level: {{ vault.secrets_operator.log_level }}
    extraEnv:
      - name: VAULT_CACERT
        value: /vault/tls/ca.crt
      - name: VAULT_CLIENT_CERT
        value: /vault/tls/tls.crt
      - name: VAULT_CLIENT_KEY
        value: /vault/tls/tls.key
{% if not kube.allow_scheduling %}
  tolerations:
    - effect: NoSchedule
      key: node-role.kubernetes.io/control-plane
      operator: Exists
  nodeSelector:
    node-role.kubernetes.io/control-plane: ""
{% endif %}

defaultVaultConnection:
  enabled: true
  address: https://vault-active.vault.svc.cluster.local:8200