{% if not _kube.allow_scheduling %}
tolerations:
  - effect: NoSchedule
    key: node-role.kubernetes.io/control-plane
    operator: Exists
nodeSelector:
  node-role.kubernetes.io/control-plane: ""
{% endif %}

initContainers:
   - name: azure
     image: velero/velero-plugin-for-aws:v1.7.0
     imagePullPolicy: IfNotPresent
     volumeMounts:
       - mountPath: /target
         name: plugins

configuration:
  backupStorageLocation:
    - name: default
      provider: aws
      bucket: velero
      prefix: {{ _kube.cluster.name }}
      default: true
      config:
        region: minio
        s3ForcePathStyle: "true"
        s3Url: http://<minio-api-url>:9000

  uploaderType: kopia
  logLevel: warning
  defaultVolumesToFsBackup: true

credentials:
  useSecret: true
  name: cloud-credentials
  secretContents:
    cloud: |
      [default]
      aws_access_key_id = minioadmin
      aws_secret_access_key = minioadmin

backupsEnabled: true
snapshotsEnabled: false
deployNodeAgent: true
upgradeCRDs: false

nodeAgent:
{% if not _kube.allow_scheduling %}
  tolerations:
    - effect: NoSchedule
      key: node-role.kubernetes.io/control-plane
      operator: Exists
  nodeSelector:
    node-role.kubernetes.io/control-plane: ""
{% endif %}
