source <(kubectl completion bash)
alias kc=kubectl
alias kcaf='kubectl apply -f'
alias kccf='kubectl create -f'
alias kcc='kubectl create'
alias kce='kubectl edit'
alias kcen='kubectl edit -n'
alias kcd='kubectl delete'
alias kcdf='kubectl delete -f'
alias kcp='kubectl patch'
alias kcpn='kubectl patch -n'
alias kcg='kubectl get'
alias kcgn='kubectl get -n'
alias kcgan='kubectl get all -n'
alias kcpo='kubectl get po'
alias kcpoa='kubectl get po -A'
alias kcpon='kubectl get po -n'
alias kcpow='kubectl get po -o wide'
alias kcpoy='kubectl get po -o yaml'
alias kcpoyn='kubectl get po -o yaml -n'
alias kcpowa='kubectl get po -o wide -A'
alias kcpown='kubectl get po -o wide -n'
alias kcsv='kubectl get svc'
alias kcsva='kubectl get svc -A'
alias kcsvn='kubectl get svc -n'
alias kcsvyn='kubectl get svc -o yaml -n'
alias kcsvy='kubectl get svc -o yaml'
alias kcsvw='kubectl get svc -o wide'
alias kcdp='kubectl get deploy'
alias kcdpa='kubectl get deploy -A'
alias kcdpy='kubectl get deploy -o yaml'
alias kcdpyn='kubectl get deploy -o yaml -n'
alias kcdpn='kubectl get deploy -n'
alias kcse='kubectl get secrets'
alias kcsea='kubectl get secrets -A'
alias kcsen='kubectl get secrets -n'
alias kcseyn='kubectl get secrets -o yaml -n'
alias kcig='kubectl get ingress'
alias kciga='kubectl get ingress -A'
alias kcign='kubectl get ingress -n'
alias kcsc='kubectl get sc'
alias kcpv='kubectl get pv'
alias kcpvc='kubectl get pvc'
alias kcpvcn='kubectl get pvc -n'
alias kcno='kubectl get no'
alias kclo='kubectl logs'
alias kclon='kubectl logs -n'
alias kcde='kubectl describe'
alias kcdepo='kubectl describe po'
alias kcdepon='kubectl describe po -n'
alias kcdedp='kubectl describe deploy'
alias kcdesv='kubectl describe svc'
alias kcdesvn='kubectl describe svc -n'
alias kcdeno='kubectl describe node'
alias wkcpo='watch kubectl get po'
alias wkcpoa='watch kubectl get po -A'
alias wkcpon='watch kubectl get po -n'
alias wkcpow='watch kubectl get po -o wide'
alias kcnow='kubectl get no -o wide'
alias kctpoa='kubectl top po -A'
alias kctpon='kubectl top po -n'
alias kctno='kubectl top no'
alias kcctx='kubectl config set-context --current --namespace'
alias kcns='kubectl get namespace'
alias kcbb='kubectl run -i --tty busybox --image=busybox --restart=Never -- sh'
alias kcsh='kubectl exec --stdin --tty'
alias kcshn='kubectl exec --stdin --tty -n'
complete -o default -F __start_kubectl kc
