export KUBE_EDITOR=nano
source <(kubectl completion bash)
alias kc=kubectl
alias kcaf='kubectl apply -f'
alias kccf='kubectl create -f'
alias kcc='kubectl create'
alias kce='kubectl edit'
alias kcen='kubectl edit -n'
alias kcx='kubectl delete'
alias kcxf='kubectl delete -f'
alias kcxpo='kubectl delete po'
alias kcxpon='kubectl delete po -n'
alias kcxns='kubectl delete ns'
alias kcxse='kubectl delete secret'
alias kcxsen='kubectl delete secret -n'
alias kcxpvc='kubectl delete pvc'
alias kcxpvcn='kubectl delete pvc -n'
alias kcp='kubectl patch'
alias kcpn='kubectl patch -n'
alias kcg='kubectl get'
alias kcgn='kubectl get -n'
alias kcga='kubectl get all'
alias kcgan='kubectl get all -n'
alias kcpo='kubectl get po'
alias kcpoa='kubectl get po -A'
alias kcpon='kubectl get po -n'
alias kcpow='kubectl get po -o wide'
alias kcpoy='kubectl get po -o yaml'
alias kcpoyn='kubectl get po -o yaml -n'
alias kcpowa='kubectl get po -o wide -A'
alias kcpown='kubectl get po -o wide -n'
alias kcpoxr='kubectl get pods | grep -v Running'
alias kcpoaxr='kubectl get pods -A | grep -v Running'
alias kcsv='kubectl get svc'
alias kcsva='kubectl get svc -A'
alias kcsvn='kubectl get svc -n'
alias kcsvyn='kubectl get svc -o yaml -n'
alias kcsvy='kubectl get svc -o yaml'
alias kcsvw='kubectl get svc -o wide'
alias kccm='kubectl get configmap'
alias kccma='kubectl get configmap -A'
alias kccmn='kubectl get configmap -n'
alias kccmyn='kubectl get configmap -o yaml -n'
alias kccmy='kubectl get configmap -o yaml'
alias kcdp='kubectl get deploy'
alias kcdpa='kubectl get deploy -A'
alias kcdpy='kubectl get deploy -o yaml'
alias kcdpyn='kubectl get deploy -o yaml -n'
alias kcdpn='kubectl get deploy -n'
alias kcds='kubectl get daemonset'
alias kcdsa='kubectl get daemonset -A'
alias kcdsy='kubectl get daemonset -o yaml'
alias kcdsyn='kubectl get daemonset -o yaml -n'
alias kcdsn='kubectl get daemonset -n'
alias kcss='kubectl get statefulset'
alias kcssa='kubectl get statefulset -A'
alias kcssy='kubectl get statefulset -o yaml'
alias kcssyn='kubectl get statefulset -o yaml -n'
alias kcssn='kubectl get statefulset -n'
alias kcse='kubectl get secrets'
alias kcsea='kubectl get secrets -A'
alias kcsen='kubectl get secrets -n'
alias kcseyn='kubectl get secrets -o yaml -n'
alias kcig='kubectl get ingress'
alias kciga='kubectl get ingress -A'
alias kcign='kubectl get ingress -n'
alias kcigy='kubectl get ingress -o yaml'
alias kcigyn='kubectl get ingress -o yaml -n'
alias kcsc='kubectl get sc'
alias kcpv='kubectl get pv'
alias kcpvc='kubectl get pvc'
alias kcpvca='kubectl get pvc -A'
alias kcpvcn='kubectl get pvc -n'
alias kcno='kubectl get no'
alias kclo='kubectl logs'
alias kclon='kubectl logs -n'
alias kcde='kubectl describe'
alias kcdepo='kubectl describe po'
alias kcdepon='kubectl describe po -n'
alias kcdedp='kubectl describe deploy'
alias kcdesv='kubectl describe svc'
alias kcdesvn='kubectl describe svc -n'
alias kcdeno='kubectl describe node'
alias wkcpo='watch kubectl get po'
alias wkcpoa='watch kubectl get po -A'
alias wkcpon='watch kubectl get po -n'
alias wkcpow='watch kubectl get po -o wide'
alias wkcpowa='watch kubectl get po -o wide -A'
alias wkcpown='watch kubectl get po -o wide -n'
alias wkcpoxr="watch 'kubectl get pods | grep -v Running'"
alias wkcpoaxr="watch 'kubectl get pods -A | grep -v Running'"
alias kcnow='kubectl get no -o wide'
alias kctpoa='kubectl top po -A'
alias kctpon='kubectl top po -n'
alias kctno='kubectl top no'
alias kcctx='kubectl config set-context --current --namespace'
alias kcns='kubectl get namespace'
alias kcbb='kubectl run -i --tty busybox --image=busybox --restart=Never -- sh'
alias kcbbcp="kubectl run -i --tty busybox --image=busybox --restart=Never --overrides='{\"spec\":{\"nodeSelector\":{\"node-role.kubernetes.io/control-plane\":\"\"},\"tolerations\":[{\"effect\": \"NoSchedule\", \"key\": \"node-role.kubernetes.io/control-plane\", \"operator\": \"Exists\"}]}}' -- sh"
alias kcsh='kubectl exec --stdin --tty'
alias kcshn='kubectl exec --stdin --tty -n'
complete -o default -F __start_kubectl kc
