$TTL    604800
@       IN      SOA     {{ ansible_hostname }}.{{ dns.zone }}. root.{{ ansible_hostname }}.{{ dns.zone }}. (
                              3         ; Serial
                         604800         ; Refresh
                          86400         ; Retry
                        2419200         ; Expire
                         604800 )       ; Negative Cache TTL

; Name Server
@               IN      NS     {{ ansible_hostname }}.{{ dns.zone }}.
{{ ansible_hostname }}      IN      A       {{ ansible_host }}