$TTL    604800
@       IN      SOA     {{ _kube.cluster.domain }}. root.{{ _kube.cluster.domain }}. (
                              1         ; Serial
                         604800         ; Refresh
                          86400         ; Retry
                        2419200         ; Expire
                         604800 )       ; Negative Cache TTL
;

; Name Server
@               IN      NS     {{ ansible_hostname }}.{{ _kube.cluster.domain }}.
{{ ansible_hostname }}      IN      A      {{ ansible_host }}

; Reverse lookup for Name Server
{{ ansible_host.split('.')[3] }}       IN      PTR     {{ ansible_hostname }}.{{ _kube.cluster.domain }}.