apiVersion: k8s.keycloak.org/v2alpha1
kind: Keycloak
metadata:
  name: keycloak
  namespace: keycloak
spec:
  instances: 1
  db:
    vendor: postgres
    host: keycloak-db
    usernameSecret:
      name: keycloak-db-secret
      key: username
    passwordSecret:
      name: keycloak-db-secret
      key: password
  http:
    tlsSecret: keycloak-ingress-tls
  hostname:
    hostname: keycloak.{{ _kube.cluster.domain }}
  proxy:
    headers: forwarded

  ingress:
    enabled: false

{% if not _kube.allow_scheduling %}
  unsupported:
    podTemplate:
      spec:
        tolerations:
          - effect: NoSchedule
            key: node-role.kubernetes.io/control-plane
            operator: Exists
        nodeSelector:
          node-role.kubernetes.io/control-plane:
{% endif %}