apiVersion: v1
kind: Service
metadata:
  name: keycloak-db
  namespace: keycloak
spec:
  ports:
    - name: http
      port:  5432
      targetPort: 5432
      protocol: TCP
  type: ClusterIP
  selector:
    app: keycloak-db