apiVersion: v1
kind: Secret
metadata:
  name: keycloak-db-secret
  namespace: keycloak
stringData:
  username: {{ keycloak.postgres.username }}
  password: "{{ keycloak.postgres.password }}"
type: Opaque