apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: minio-console-ingress-cert
  namespace: minio-operator
spec:
  dnsNames:
    - minio.{{ _kube.cluster.domain }}
  issuerRef:
    kind: ClusterIssuer
    name: {{ fact_cluster_issuer_name }}
  secretName: minio-console-ingress-tls