operator:
{% if not _kube.allow_scheduling %}
  tolerations:
    - effect: NoSchedule
      key: node-role.kubernetes.io/control-plane
      operator: Exists
  nodeSelector:
    node-role.kubernetes.io/control-plane: ""
{% endif %}

console:
{% if not _kube.allow_scheduling %}
  tolerations:
    - effect: NoSchedule
      key: node-role.kubernetes.io/control-plane
      operator: Exists
  nodeSelector:
    node-role.kubernetes.io/control-plane: ""
{% endif %}

  ingress:
    enabled: true
    ingressClassName: {{ ingress_name }}
    host: console.{{ domain }}
    path: /
    pathType: Prefix
{% if has_issuer %}
    tls:
      - hosts:
          - console.{{ domain }}
        secretName: minio-console-ingress-tls
{% endif %}    