apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: elasticsearch-cert
  namespace: logging
spec:
  secretName: elasticsearch-tls
  issuerRef:
    name: default-cluster-issuer
    kind: ClusterIssuer
  dnsNames:
    - elasticsearch-es-http.logging.es.local
    - elasticsearch-es-http
    - elasticsearch-es-http.logging.svc
    - elasticsearch-es-http.logging
    - elasticsearch-es-internal-http.logging.svc
    - elasticsearch-es-internal-http.logging
    - "*.elasticsearch-es-default.logging.svc"