apiVersion: elasticsearch.k8s.elastic.co/v1
kind: Elasticsearch
metadata:
  name: elasticsearch
  namespace: logging
spec:
  version: {{ release }}
  nodeSets:
  - name: default
    count: 3
    config:
      node.store.allow_mmap: {{ use_virtual_memory }}

{% if not _kube.allow_scheduling %}
    podTemplate:
      spec:
        tolerations:
          - effect: NoSchedule
            key: node-role.kubernetes.io/control-plane
            operator: Exists
        nodeSelector:
          node-role.kubernetes.io/control-plane: ""
{% endif %}

  http:
    tls:
      selfSignedCertificate:
        disabled: true