{% if not _kube.allow_scheduling %}
tolerations:
  - effect: NoSchedule
    key: node-role.kubernetes.io/control-plane
    operator: Exists
nodeSelector:
  node-role.kubernetes.io/control-plane: ""
{% endif %}

configuration:
  uploaderType: kopia
  logLevel: warning
  defaultVolumesToFsBackup: true

credentials:
  useSecret: true
  name: cloud-credentials

backupsEnabled: false
snapshotsEnabled: false
deployNodeAgent: true
upgradeCRDs: false

nodeAgent:
{% if not _kube.allow_scheduling %}
  tolerations:
    - effect: NoSchedule
      key: node-role.kubernetes.io/control-plane
      operator: Exists
  nodeSelector:
    node-role.kubernetes.io/control-plane: ""
{% endif %}