apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: aws-ingress-cert
  namespace: awx
spec:
  secretName: aws-ingress-tls
  issuerRef:
    name: "default-cluster-issuer"
    kind: ClusterIssuer
  dnsNames:
    - {{ _kube.hostname }}
