apiVersion: projectcontour.io/v1
kind: HTTPProxy
metadata:
  name: awx-httpproxy
  namespace: awx
spec:
  routes:
    - conditions:
        - prefix: /awx
      services:
        - name: awx-service
          port: 80