apiVersion: projectcontour.io/v1
kind: HTTPProxy
metadata:
  name: {{ name }}
  namespace: {{ namespace }}
spec:
  routes:
    - conditions:
        - prefix: /awx
      services:
        - name: awx-service
          port: 80