fullnameOverride: awx
AWX:
  enabled: true

  spec:
    ingress_type: ingress
    ingress_class_name: "{{ ingress_name }}"
    ingress_tls_secret: awx-ingress-tls
    hostname: "{{ _kube.hostname }}"
    ingress_path: /awx
