apiVersion: v1
kind: Secret
metadata:
  name: infisical-secrets
  namespace: infisical
type: Opaque
stringData:
  AUTH_SECRET: {{ auth_key }}
  ENCRYPTION_KEY: {{ encryption_key }}
  DB_CONNECTION_URI: postgresql://postgresql:root@postgresql:5432/infisicalDB