apiVersion: projectcontour.io/v1
kind: HTTPProxy
metadata:
  name: {{ name }}-httpproxy
  namespace: {{ namespace }}
spec:
  routes:
    - conditions:
        - prefix: /prometheus
      services:
        - name: monitoring-prometheus
          port: 9090
    - conditions:
        - prefix: /grafana
      services:
        - name: monitoring-grafana
          port: 80
    - conditions:
        - prefix: /alerts
      services:
        - name: monitoring-alertmanager
          port: 9093
