fullnameOverride: monitoring

alertmanager:
  fullnameOverride:
  ingress:
    enabled: true
    ingressClassName: {{ ingress_name }}
    hosts:
      - {{ ingress_host }}

    paths:
      - /alerts
    pathType: ImplementationSpecific

  alertmanagerSpec:
    routePrefix: /alerts
    replicas: {{ monitoring.alertmanager.replicas }}

{% if monitoring.alertmanager.persistence.enabled %}
    storage:
      volumeClaimTemplate:
        metadata:
          name: alertmanager
        spec:
          accessModes: ["ReadWriteOnce"]
          resources:
            requests:
              storage: {{ monitoring.alertmanager.persistence.size }}
{% endif %}

{% if not kube.allow_scheduling %}
    tolerations:
      - effect: NoSchedule
        key: node-role.kubernetes.io/control-plane
        operator: Exists
    nodeSelector:
      node-role.kubernetes.io/control-plane: ""
{% endif %}

grafana:
  enabled: true

  replicas: 1

  ingress:
    enabled: true
    ingressClassName: {{ ingress_name }}
    hosts:
      - {{ ingress_host }}

    path: /grafana
    pathType: ImplementationSpecific

  sidecar:
    datasources:
      enabled: true
      url: http://monitoring-prometheus:9090/prometheus/

{% if not kube.allow_scheduling %}
  tolerations:
    - effect: NoSchedule
      key: node-role.kubernetes.io/control-plane
      operator: Exists
  nodeSelector:
    node-role.kubernetes.io/control-plane: ""
{% endif %}

  persistence:
    type: pvc
    enabled: {{ monitoring.grafana.persistence.enabled }}
    accessModes: ["ReadWriteOnce"]
    size: {{ monitoring.grafana.persistence.size }}

  grafana.ini:
    server:
      root_url: "/grafana/"
      serve_from_sub_path: true

prometheusOperator:
  enabled: true

{% if not kube.allow_scheduling %}
  admissionWebhooks:
    deployment:
      tolerations:
        - effect: NoSchedule
          key: node-role.kubernetes.io/control-plane
          operator: Exists
      nodeSelector:
        node-role.kubernetes.io/control-plane: ""

    patch:
      tolerations:
        - effect: NoSchedule
          key: node-role.kubernetes.io/control-plane
          operator: Exists
      nodeSelector:
        node-role.kubernetes.io/control-plane: ""

  tolerations:
    - effect: NoSchedule
      key: node-role.kubernetes.io/control-plane
      operator: Exists
  nodeSelector:
    node-role.kubernetes.io/control-plane: ""
{% endif %}

prometheus:
  enabled: true

  ingress:
    enabled: true
    ingressClassName: {{ ingress_name }}
    hosts:
      - {{ ingress_host }}

    paths:
      - /prometheus
    pathType: ImplementationSpecific

  prometheusSpec:
    replicas: {{ monitoring.prometheus.replicas }}
    externalUrl: /prometheus
    routePrefix: /prometheus

{% if monitoring.prometheus.persistence.enabled %}
    storageSpec:
      volumeClaimTemplate:
        metadata:
          name: prometheus
        spec:
          accessModes: ["ReadWriteOnce"]
          resources:
            requests:
              storage: {{ monitoring.prometheus.persistence.size }}
{% endif %}

{% if not kube.allow_scheduling %}
    tolerations:
      - effect: NoSchedule
        key: node-role.kubernetes.io/control-plane
        operator: Exists
    nodeSelector:
      node-role.kubernetes.io/control-plane: ""
{% endif %}

kube-state-metrics:
{% if not kube.allow_scheduling %}
  tolerations:
    - effect: NoSchedule
      key: node-role.kubernetes.io/control-plane
      operator: Exists
  nodeSelector:
    node-role.kubernetes.io/control-plane: ""

{% endif %}